language: bash

env:
  global:
  - IMAGE_NAME=${DOCKER_USERNAME}/spark-custom

matrix:
  include:
  # Debian builds
{% for v in c.versions %}
  - services: docker
    env:
    - SPARK_VERSION={{ v.spark }}
    - HADOOP_VERSION={{ v.hadoop }}
    - WITH_HIVE={{ v.with_hive }}
    - WITH_PYSPARK={{ v.with_pyspark }}
    - DIST=debian
{% endfor %}
  # Alpine builds
{% for v in c.versions %}
  - services: docker
    env:
    - SPARK_VERSION={{ v.spark }}
    - HADOOP_VERSION={{ v.hadoop }}
    - WITH_HIVE={{ v.with_hive }}
    - WITH_PYSPARK={{ v.with_pyspark }}
    - DIST=alpine
{% endfor %}
  
script:
# Hive prep
- HIVE_INSTALL_FLAG=$(if [ "${WITH_HIVE}" = "true" ]; then echo "-Phive"; fi)
# Pyspark prep
- apt-get install -y --no-install-recommends \
    python \
    python-setuptools
- PYSPARK_INSTALL_FLAG=$(if [ "${WITH_PYSPARK}" = "true" ]; then echo "--pip"; fi)
- |-
  ./dev/make-distribution.sh \
    ${PYSPARK_INSTALL_FLAG} --name spark-${SPARK_VERSION}_hadoop-${HADOOP_VERSION} \
    -Phadoop-$(echo ${HADOOP_VERSION} | cut -c 1-3) \
    -Pkubernetes \
    ${HIVE_INSTALL_FLAG} \
    -Dhadoop.version=${HADOOP_VERSION} \
    -DskipTests \
    | awk 'NR % 50 == 0'
    
- docker login -u="${DOCKER_USERNAME}" -p="${DOCKER_PASSWORD}"
- KUBERNETES_TAG_SUFFIX=$(if [ "${WITH_KUBERNETES}" = "true" ]; then echo _k8s; fi)
- HIVE_TAG_SUFFIX=$(if [ "${WITH_HIVE}" = "true" ]; then echo _hive; fi)
- PYSPARK_TAG_SUFFIX=$(if [ "${WITH_PYSPARK}" = "true" ]; then echo _pyspark; fi)
- TAG_NAME=${SPARK_VERSION}_hadoop-${HADOOP_VERSION}${KUBERNETES_TAG_SUFFIX}${HIVE_TAG_SUFFIX}${PYSPARK_TAG_SUFFIX}_${DIST}
- FULL_IMAGE_NAME="${IMAGE_NAME}:${TAG_NAME}"
- |-
  docker build ${DIST}/ -t ${FULL_IMAGE_NAME} \
    --build-arg SPARK_VERSION=${SPARK_VERSION} \
    --build-arg WITH_KUBERNETES=${WITH_KUBERNETES} \
    --build-arg HADOOP_VERSION=${HADOOP_VERSION} \
    --build-arg WITH_HIVE=${WITH_HIVE} \
    --build-arg WITH_PYSPARK=${WITH_PYSPARK} \
    ;
# Just push, doesn't matter if it's TRAVIS_PULL_REQUEST false/true
- docker push ${FULL_IMAGE_NAME};

branches:
  only:
  - master
