language: java

jdk:
- oraclejdk8

sudo: required

env:
  global:
  - IMAGE_NAME=spark-k8s

# This is critical because of the way -f is interpreted in newer version with
# regards to the build Docker context path
addons:
  apt:
    update: true
    packages:
    - docker-ce
    - python
    - python-setuptools

matrix:
  include:
{%- for v in versions %}
  - services: docker
    env:
    - SPARK_VERSION={{ v.spark }}
    - HADOOP_VERSION={{ v.hadoop }}
    - WITH_HIVE={{ v.with_hive }}
    - WITH_PYSPARK={{ v.with_pyspark }}
{%- endfor %}

before_script:
- docker --version

script:
- travis_wait 60 bash make-distribution.sh

deploy:
  provider: script
  script: bash push-images.sh
  on:
    branch: master

branches:
  only:
  - master
