language: java

jdk:
- oraclejdk8

sudo: required

env:
  global:
  - IMAGE_NAME=spark-k8s

addons:
  apt:
    update: true

matrix:
  include:
{%- for v in versions %}
  - services: docker
    env:
    - SPARK_VERSION={{ v.spark }}
    - HADOOP_VERSION={{ v.hadoop }}
    - WITH_HIVE={{ v.with_hive }}
    - WITH_PYSPARK={{ v.with_pyspark }}
{%- endfor %}

before_install:
- sudo apt-get install --no-install-recommends -y python python-setuptools

before_script:
- ln -s "$(pwd)" "/tmp/$(basename "$(pwd)")"
- cd "/tmp/$(basename "$(pwd)")"
  
script:
- travis_wait 60 bash make-distribution.sh"

deploy:
  provider: script
  script: bash push-images.sh
  on:
    branch: master

branches:
  only:
  - master
